

<div class="shadow bg-body rounded">
    <div class="d-flex  align-items-center justify-content-between container-sm bg-primary p-3 rounded-top text-white">
        <span class="mx-3">Shopping Cart</span> 
        <a type="button" asp-controller="Cart" asp-action="ViewCart" class="btn btn-secondary btn-sm mx-2">Back to cart</a>
    </div>
    <div class="border-bottom pb-1">
        <div class="container p-3 border-bottom">
            <div class="row justify-content-between">
                <div class="col-5 p-3">
                    <div class="p-1  mb-1 text-primary font-weight-bold">Shipping Details:</div>

                    <form>
                        <div class="form-group mb-3">
                            <label id="name">Name</label>
                            <input type="text"  class="form-control form-control-sm" id="name" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group mb-3">
                            <label for="phone">Phone</label>
                            <input type="password" class="form-control form-control-sm" id="phone">
                        </div>

                        <div class="form-group mb-3">
                            <label for="streetAddress">Street Address</label>
                            <input type="password" class="form-control form-control-sm" id="streetAddress">
                        </div>
                        <div class="form-group mb-3">
                            <label for="city">City</label>
                            <input type="password" class="form-control form-control-sm" id="city">
                        </div>
                        <div class="form-group mb-3">
                            <label for="state">State</label>
                            <input type="password" class="form-control form-control-sm" id="state">
                        </div>
                        <div class="form-group mb-3">
                            <label for="postalCode">Postal Code</label>
                            <input type="password" class="form-control form-control-sm" id="postalCode">
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    </form>
                </div>

                <div class="col-6 p-3">
                    <div class="text-primary mb-2 font-weight-bold">Order Summary:</div>
                    <div class=""></div>
                    <div class="p-3 px-3 rounded border border-secondary">
                        <div class="d-flex align-items-end justify-content-between">
                            <p class="m-0 text-secondary-emphasis">Title</p>
                            <p class="m-0" >Price * Count</p>
                        </div>
                        <p>Quantity: </p>
                        <div class="border-top d-flex align-items-end justify-content-between">
                            <p class="m-0 text-secondary-emphasis">Total: </p>
                        </div>

                    </div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between p-2 px-3">
            <p class="m-0 text-danger"> Estimate Arrival Date:  </p>
            <button type="submit" class="btn rounded  btn-primary">Submit</button>

        </div>
    </div>
</div>

