

<div class="shadow bg-body rounded">
    <div class="d-flex align-items-center justify-content-between container-sm bg-primary p-3 rounded-top text-white">
    Shopping Cart
        <a type="button" asp-controller="Cart" asp-action="ViewCart" class="btn btn-secondary btn-sm mx-2">Back to cart</a>
    </div>
Shipping Details
</div>
