@model Category


    <form method="post">
    <div class="border p-3">
        <div class="row">
            <h2>Add Category</h2>
        </div>

        <div class=" p-1 row mb-2">
            <label asp-for="Name" class="p-1"></label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="p-1 row mb-2">
            <label asp-for="DisplayOrder" class="p-1"></label>
            <input asp-for="DisplayOrder" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Add</button>
        <a asp-controller="Category" asp-action="Index" class="m-3">Back to list</a>
    </div>
    </form>

      