@model List<Category>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Category List</h1>
        </div>

        <div class="col-md-6 text-end">
            <a type="button" asp-controller="Category" asp-action="Add" class="btn btn-primary btn-sm">Add new category</a>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Display Order</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.DisplayOrder</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a type="button" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-dark btn-sm mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a type="button" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger btn-sm mx-2">
                                <i class="bi bi-pencil-square"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>





